# Game Security (Must match between frontend and backend)
GAME_SECRET=
VITE_GAME_SECRET=

# Backend Config
PORT=8080
DB_PATH=game.db

# Frontend Config
VITE_API_URL=http://localhost:8080/api
VITE_GA_ID=
